@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Leckerli+One&display=swap');

:root {
    --gray: rgb(27, 27, 27);
    --baby-blue: #c1e3ff;
    --blue: #a8c7ff;
    --white-gray: #f0eff0;
    --white: #fafaf9;
    --mind-blowing: #fc004c;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #main {
    font-family: Montserrat, sans-serif;
    height: 100%;
    
}

body {
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(10deg, var(--white-gray), var(--white));
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main .coolText {
    margin-bottom: 50px;
    font-size: 30px;
    -webkit-user-select: none;
}

#main .formText {
    width: 50vw;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

#main .formText .editOptions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 50px;
    background-color: var(--gray);
    border-radius: 3px 3px 0 0;
}

#main .formText .editOptions button {
    border: 0;
    background: none;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
}

#main .formText .inputText div {
    display: inline-block;
    height: 300px;
    width: 100%;
    padding: 15px;
    border: 0px;
    outline: 0px;
    border-radius: 0 0 3px 3px;
    overflow: auto;
    font-size: 20px;
}

footer .signature {
    position: absolute;
    bottom: 30px;
    right: 100px;
    font-family: Leckerli One;
    font-size: 20px;
    -webkit-user-select: none; 
}